<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <img class="icon" src="assets/icon/chat-icon.webp" alt="">
<ion-item>
  <ion-label position="floating">Correo electronico</ion-label>
  <ion-imput type="text" name="email"></ion-imput>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-imput type="password" name="password"></ion-imput>
</ion-item>
<br>
<ion-button expand="block">Entrar</ion-button>
</ion-content>
